* {
    /* margin: 45px;  */
    box-sizing: border-box;
    transition: all 0.35s linear;
    font-family: sans-serif;
}

body {
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: #242424; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav {
    background-color: transparent;
    border-bottom: 0.1px solid #23d5ab;
    border-bottom-width: thin;
}

button {
    padding: 10px 18px;
    margin: 2%;
    border: 3px solid white;
    border-radius: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    /* color: #e4cfad; */
    color: white;
    background-color: transparent;
    /* margin-bottom: 50px; */
}

button:hover {
    transform: scale(1.1);
}

button.active {
    background-color: transparent;
    color: #242424;
}

button span {
    font-weight: normal;
}