form {
  padding: 2px;
}

* {
  /* margin: 45px;  */
  box-sizing: border-box;
  transition: all 0.35s linear;
  font-family: sans-serif;
}

form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#uploadImgDiv {
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* background-color: #242424; */
}

/* .Btn {
  margin-bottom: 500px;
} */


#selector {
  margin-bottom: 50px;
}

#submitBtn {
  padding: 16px 48px;
  /* border: 3px solid #ffc872; */
  border: 3px solid white;
  border-radius: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  /* color: #ffc872; */
  color: white;
  background-color: transparent;
  margin-bottom: 50px;
}
#submitBtn:hover {
  transform: scale(1.1);
}

#submitBtn.active {
  background-color: transparent;
  color: #242424;
}

#submitBtn span {
  font-weight: normal;
}

label {
  /* margin-top: 2rem; */
  /* padding: 16px 48px; */
  /* border: 3px solid #ffc872; */
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  /* color: #ffc872; */
  color: white;
  margin-bottom: 20px;
}

label:hover {
  transform: scale(1.1);
}

#selector {
  margin-top: 2rem;
  padding: 16px 48px;
  /* border: 3px solid #ffc872; */
  border: 3px solid white;
  border-radius: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  /* color: #ffc872; */
  color: white;
  margin-bottom: 50px;
}

#selector:hover {
  transform: scale(1.1);
}

#selector.active {
  background-color: transparent;
  color: #242424;
}

#selector span {
  font-weight: normal;
}

#selector.image {
  /* width: 100%;
  height: 100%;  */
  padding: 0px;
  border-radius: 8px;
  overflow: hidden;
}

#selector.image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: scale-down;
}

