{% extends 'public/templates/main_template.html' %}

{% block title %}
Upload Image
{% endblock %}

{%block custom_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="display-4 mt-3">INPUT</div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="display-4 mt-3">OUTPUT</div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6" id="inputImgDiv">
            <!-- <img src="{{ url_for('static', filename='uploads/img/abc.png') }}" alt="NAH" srcset=""> -->
            <img src=" {{ url_for('static', filename='uploads/img/' +zfilename) }} " alt="Error" srcset="">
        </div>
        <div class="col-6" id="outputImgDiv">
            <!-- <img src="{{  url_for('static',filename='uploads/mask/{{zfilename_mask}}')  }}"  alt="Error"> -->
            <!-- <img src="{{url1}}" alt="error" srcset=""> -->
            <img src=" {{ url_for('static', filename='uploads/img/' +zfilename_mask) }} " alt="Error" srcset="">
        </div>
    </div>

</div>
{% endblock %}

{% block backbtn %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/upload"><button type="button" class="btn btn-outline-secondary float-left ml-12" id="gobtn">Go
                    Back</button></a>
        </div>
    </div>
</div>
{% endblock %}
{% block custom_js %}
<script src="{{ url_for('static', filename='js/run.js') }}"></script>
{% endblock %}